garage-env/lib/
dump.txt
vehiclesList.json
test.json
.env
.vercel
*.pyc



things to update:
- veh-name
- veh-ownerid
- veh-uuid
- veh-pubkey
- vehicleinfo > type
- vehicleinfo > model
- vehicleinfo > color
- lat
- long