garage-env/lib/
model.json
object.json
.env
.vercel
*.pyc



things to update:
- veh-name
- veh-ownerid
- veh-uuid
- veh-pubkey
- vehicleinfo > type
- vehicleinfo > model
- vehicleinfo > color
- lat
- long